extends layout.pug
block content
  form(action='/',method='post')
   div.form-group
    label(for='datefrom') datefrom:
    input#datefrom.form-control(type='text', placeholder='dd/mm/yyyy' value='01/11/2020' name='datefrom')
   div.form-group
    label(for='dateto') dateto:
    input#dateto.form-control(type='text', placeholder='dd/mm/yyyy' value='30/11/2020' name='dateto')
   button.btn.btn-primary(type='submit') Submit