extends layout.pug
block content
  form(action='/',method='post')
   div.form-group
    label(for='datefrom') datefrom:
    input#datefrom.form-control(type='text', placeholder='01/02/2018' value='01/02/2018' name='datefrom')
   div.form-group
    label(for='dateto') dateto:
    input#dateto.form-control(type='text', placeholder='13/02/2018' value='13/02/2018' name='dateto')
   button.btn.btn-primary(type='submit') Submit